[Unit]
Description=Mint Dynamic Theme Daemon

[Service]
Type=simple
ExecStart=/usr/bin/mdt start
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target